<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paris|Contact</title>
   
</head>
<body>
    <header>       
        <a href="../index.html">Paris</a>
        <nav>
            <a href="../index.html" class="element" >Acceuil</a>
            <a href="contact.html"  class="element">Contact</a>
            <a href="a-propos.html" class="element">a propos</a>            
        </nav>
        <h1>contact</h1>
    </header>
</body>
</html>