<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/practice-flexbox.css">
</head>
<body>
<header>
    <nav>
        <div class="menu">acceuil</div>
        <div class="menu">nos produits</div>
        <div class="menu">soldes</div>
        <div class="menu">contact</div>
        <div class="menu">information</div>
    </nav>
</header>
    
</body>
</html>