@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    flex-wrap: wrap;
}
a {
    text-decoration: none;

}

header {
    background-color: #007bff;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    position: fixed;
    width: 100%;
    
}
header a{
    color: #fff;
}

.logo{
    font-size: 35px;
}

nav{
    display: flex;
    gap: 20px;
    
}

@media screen and (max-width:600px){

    header{
        background-color: red;
        flex-direction: column;
        gap: 30px;
        height: 100px;
    }
    nav{
        justify-content: space-between;
        width: 100%;
        margin: 0;
    }
    header>:last-child > img{
        display: none;
    }
    
}

@media screen and (max-width:450px){
    header> nav{
        display: none;
    }
    header>:first-child{
        font-size: 25px;
    }
    header{
        flex-direction: row;
    }
    header>:last-child>img{
    height: 30px;
    width: 30px;
    display: block;
    }
} 

   
.active{
    display: flex;
    flex-direction: column;
}
